ion-content {
  --background: #161718; 
  color: #ffffff;         
}

ion-toolbar {
  --background: #efb810;  
  color: #000000;         
}

#container {
  text-align: center;
  padding: 20px;
}

ion-item {
  --padding-start: 0;
  --padding-end: 0;
}

ion-button {
  margin-top: 10px;
  --background: #efb810; 
  --color: #000000;      
}

.custom-modal {
  --width: 100%;
  --max-width: 400px;
  --height: 100%;
  --max-height: 500px;
  --border-radius: 12px;
}


  .custom-datetime {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    --height: 50px; 
  }

  ion-item {
    --padding-start: 0;
    --padding-end: 0;
  }

  
  .calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ocupa todo el contenido del modal */
    padding: 16px;
    background: var(--ion-background-color); /* Color de fondo adaptativo */
  }
  
  ion-datetime {
    width: 100%;
    max-width: 400px; /* Tamaño máximo del calendario */
    --color: var(--ion-color-primary); /* Color del texto */
  }
  
  /* Agregar espacio entre formulario y calendario */
.spaced-item {
  margin-bottom: 20px; /* Espacio extra entre el campo y los otros */
}

/* General container */
#container {
  padding: 16px;
}

/* Espacio entre los campos del formulario */
ion-item {
  margin-bottom: 20px; /* Espacio entre los campos */
}


ion-item.datetime-item {
  margin-top: 20px;
  margin-bottom: 30px; 
}


ion-datetime {
  width: 100%;
  max-width: 400px; 
  --color: var(--ion-color-primary); 
  --padding-start: 8px;
  --padding-end: 8px;
}


ion-button {
  margin-top: 10px;
  --background: #efb810; 
  --color: #000000; 
}

  
  
  